$black: #000;
$warning: #FF0000;
$success: #00BF91;

$overlay: rgba(0, 0, 0, 0.2);

$white: #fff;
$white-light: #f7f7f7;
$white-hover: #E6E6E6;
$white-hover-active: #999999;

$violet-normal: #7B1FC7;
$violet-normal-hover: #6F1CB3;
$violet-normal-active: #62199F;
$violet-light-hover: #EBDDF7;
$violet-light-active: #D6BAEE;

$yellow-normal: #FFDD00;
$yellow-normal-hover: #E6C700;
$yellow-normal-active: #CCB100;
$yellow-light-active: #FFF4B0;


$bgc: $white-light;