// _base.scss

// CSS Reset
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: $font-size-base;
    font-family: Arial, sans-serif;
    color: $text-color;
    background-color: $background-color;
    line-height: 1.6;
}

a {
    text-decoration: none;
    color: inerit;
}

img {
    max-width: 100%;
    height: auto;
}
