// _base.scss
$font-size-base: 14px;
$text-color: $black;
$background-color: $bgc;

// CSS Reset
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: $font-size-base;
    font-family: Arial, sans-serif;
    color: $text-color;
    background-color: $background-color;
    line-height: 1.6;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: inerit;
}

img {
    height: auto;
}
