$breakpoint-mobile: 480px;
$breakpoint-tablet: 768px;
$breakpoint-desktop: 1024px;
$breakpoint-maxwidth: 1200px;

@mixin RWD($breakpoint) {
    @if $breakpoint == mobile {
        @media (min-width: 375px) and (max-width:$breakpoint-mobile){
            @content;
        }
    } @else if $breakpoint == tablet {
        @media (max-width: $breakpoint-tablet) {
            @content;
        }
    } @else if $breakpoint == desktop {
        @media (max-width: $breakpoint-desktop) {
            @content;
        }
    } @else if $breakpoint == large {
        @media (max-width: $breakpoint-maxwidth) {
            @content;
        }
    }
}

.container {
    margin: 0 auto;
    min-width: 375px;
    max-width: 1200px;

    @include RWD(large) {
        width: 1000px;
    }

    @include RWD(desktop) {
        width: 90%;
        margin: 0 auto;
    }

    @include RWD(tablet) {
        width: 90%;
    }

    @include RWD(mobile) {
        // width: calc(100% - 1rem);
        padding: 0.5rem 1rem;
    }
}

.mobileOnly {
    display: none;
    @media (min-width: 375px) and (max-width: $breakpoint-tablet) {
        display: block;
    }
}

.desktopOnly {
    display: none;
    @media (min-width: $breakpoint-tablet) {
        display: block;
    }
}