@mixin center {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin shadow {
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

// flex
.d-flex {
    display: flex;
}

.space-between {
    justify-content: space-between;
}

.align-item-center {
    align-items: center;
}

.space {
    flex-grow: 1;
}


// display
.d-none {
    display: none;
}


// border
.bd-radius {
    border-radius: .5rem;
}


// padding
.pr-1 {
    padding-right: 1rem;
}

.pl-1 {
    padding-left: 1rem;
}

.pt-1 {
    padding-top: 1rem;
}

// margin
.ml-1 {
    margin-left: 1rem;
}

.mt-1 {
    margin-top: 1rem;
}


// text
.ellipsis {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.text-center {
    text-align: center;
}

.text-lh-3rem {
    line-height: 3rem;
}

// 
.pointer {
    cursor: pointer;
}